$("#user_city").empty();

<% if @cities.blank? %>
  $("#user_city").append("<option value=''>选择城市</option>");
<% end %>

<% @cities.each do |city| %>
  $("#user_city").append("<option value='<%= city.code%>'><%= city.name%></option>");
<% end %>